*{
  font-family: 'Outfit', sans-serif;
  margin: 0;
  padding: 0;
}

header{
  background-color: #FFCB05;
  color: rgb(255, 255, 255);
  text-align: center;
  width: 100%;
  padding: 3px;
  }


.header{
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(0,39,76,1), rgba(0,39,76,1)), url(/339Proj-main/imgs/homepage_image.jpg);
  background-position: center;
  background-size: cover ;
  position: relative;
}

nav{
  display: flex;
  padding: 2% 6%;
  justify-content: space-between;
  align-items: center;
}

nav img{
  width: 150px;

}

.nav-links{
  flex: 1;
  text-align: right;
}

.nav-links ul li{
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}

.nav-links ul li a{
  color: #FFCB05;
  text-decoration: none;
  font-size: 15px;
}

.nav-links ul li::after{
  content: '';
  width: 0%;
  height: 2px;
  background: #FFCB05;
  display: block;
  margin: auto;
  transition: 0.5s;
}

.nav-links ul li:hover::after{
  width: 100%;
}

.text-box{
  width: 90%;
  color: #FFCB05;
  position: static;
  /* top: 50%;
  left: 50%; */
  /* transform: translate(-50%, -50%); */
  text-align: center;
}

.text-box h1{
  font-size: 65px;
}

.text-box h2{
  font-size: 50px;
  padding: 50px;
}

.text-box p{
  text-align: c;
  font-size: 20px;
}

.NBA{
  color: #FFCB05;
  position: static;
  text-align: center;
  width: 90%;
  
}

.img-border{
  border:3px solid #FFCB05;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.img-logo{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.grid{
    display: grid;
    grid-template-columns: 1fr;
}

.skip-content{
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.skip-content a {
  position: absolute;
  top: -3em;
  background-color: #ff0000;
  color: #fff;
  padding: 0.5em 0.75em;
}

.skip-content a:focus{
  top: 0;
}

.row {
  display: grid;
  grid-template-columns: 1fr;
  padding: 0 4px;
  grid-row-gap: 0px;
}

/* Create two equal columns that sits next to each other */
.column {
  flex: 50%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
}

footer{
  background-color: #FFCB05;
  color: rgb(255, 255, 255);
  text-align: center;
  position: fixed;
  bottom: 0px;
  width: 100%;
  padding: 3px;
  }


  body, html {
    height: 100%;
  }
  
  .parallax {
    /* The image used */
    background-image: url("/imgs/MR\ 1.jpg");
  
    /* Full height */
    height: 100%;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .centertext {
    font-size: 25px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    border-style: solid;
    padding: 10px 10px 10px 10px;
    background-color: rgba(0, 0, 0, 0.8)
}

@keyframes logo{
  0%{width: 0px; height: 0px; opacity: 0;}
  100%{width: 50px; height: 50px; opacity: 1;}
  
}

@media screen and (max-width: 600px) {

  @media screen and (prefers-reduced-motion) {
    .parallax{
        background-attachment: scroll;
    }
  }

  .h1{
    font-size: 20px;
  }

  .h2{
    font-size: 16px;
  }

  .h3{
    font-size: 14px;
  }

  .centertext {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 16px;
    border-style: solid;
    padding: 10px 10px 10px 10px;
    background-color: rgba(0, 0, 0, 0.8)
  }
}

@media screen and (min-width: 1024px) {
  .parallax{
    background-attachment: scroll;
}
@media screen and (prefers-reduced-motion) {
  .parallax{
      background-attachment: scroll;
  }
}


.h1{
font-size: 32px;
}

.h2{
font-size: 28px;
}

.h3{
font-size: 26px;
}

.centertext {
position: absolute;
top: 40%;
left: 50%;
transform: translate(-50%, -50%);
font-size: 16px;
border-style: solid;
padding: 10px 10px 10px 10px;
background-color: rgba(0, 0, 0, 0.8)
}
}

@media screen and (min-width: 601px) and (max-width: 1024px) {
  .parallax{
    background-attachment: scroll;
}
@media screen and (prefers-reduced-motion) {
  .parallax{
      background-attachment: scroll;
  }
}


.h1{
font-size: 24px;
}

.h2{
font-size: 20px;
}

.h3{
font-size: 18px;
}

.centertext {
position: absolute;
top: 40%;
left: 50%;
transform: translate(-50%, -50%);
font-size: 16px;
border-style: solid;
padding: 10px 10px 10px 10px;
background-color: rgba(0, 0, 0, 0.8)
}
}

.centercontent{
  text-align: center;
  color: #FFCB05;
}

.maincontainer{
  position: absolute;
  width: 250px;
  height: 320px;
  background: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}

/* THE CARD HOLDS THE FRONT AND BACK FACES */
.thecard{
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  transform-style: preserve-3d;
  transition: all 0.8s ease;
}

/* THE PSUEDO CLASS CONTROLS THE FLIP ON MOUSEOVER AND MOUSEOUT */
.thecard:hover{
  transform: rotateY(180deg);
}

/* THE FRONT FACE OF THE CARD, WHICH SHOWS BY DEFAULT */
 .thefront{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  backface-visibility: hidden;
  overflow: hidden;
  background: #ffc728;
  color: #000;
}

/* THE BACK FACE OF THE CARD, WHICH SHOWS ON MOUSEOVER */
.theback{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  backface-visibility: hidden;
  overflow: hidden;
  background: #fafafa;
  color: #333;
  text-align: center;
  transform: rotateY(180deg);
}


/*This block (starts here) is merely styling for the flip card, and is NOT an essential part of the flip code */
.thefront h1, .theback h1{
  font-family: 'zilla slab', sans-serif;
  padding: 30px;
  font-weight: bold;
  font-size: 24px;
  text-align: center;
}

.thefront p, .theback p{
  font-family: 'zilla slab', sans-serif;
  padding: 30px;
  font-weight: normal;
  font-size: 12px;
  text-align: center;
}

